# Tuple

### How tp create Tuple

In [1]:
#How to create tuple
t1=(1,2,3,"Hii",6j,True)
print(t1)
print(len(t1))

(1, 2, 3, 'Hii', 6j, True)
6

In [2]:
#Chek the type of tupleprint
print(type(t1))

<class 'tuple'>

In [3]:
#print all elements of tuple
print(t1[0:5])
print(t1[:5])

(1, 2, 3, 'Hii', 6j)
(1, 2, 3, 'Hii', 6j)

In [8]:
# Make a slice  of t1 with 2 and Hii and make the new tuple
print(t1[-4:-2])
t2=t1[-4:-2]
print(t2)

(3, 'Hii')
(3, 'Hii')

# Change the tuple items
- once tuple is created elements are not modified but there is alternative to modify elements of tuple
- Convert Tuple to list,modify list and reconvert that list to tuple

In [12]:
# Print tuple and its type
print(t2)
print(type(t2))

(3, 'Hii')
<class 'tuple'>

In [14]:
# Convert tuple to list using Type casting
l1=list(t2)
print(l1)
print(type(l1))

[3, 'Hii']
<class 'list'>

In [15]:
# Change word Hii by Hello
l1[-1]="Hello"
print(l1)

[3, 'Hello']

In [16]:
# Again convert list to tuple
t2=tuple(l1)
print(t2)
print(type(t2))

(3, 'Hello')
<class 'tuple'>

In [17]:
# Print element using loops
for i in t1:
    print(i,end=" ")

1 2 3 Hii 6j True

In [18]:
# To check 6j is present in t1 or not
print(6j in t1)
print(5j in t1)

True
False

In [19]:
# Add new tuple fails,verify it
t1[6]="avya"

TypeError: 'tuple' object does not support item assignment

In [22]:
# Count no of elements in tuple
print(t1.count(6j))
print(t1.count(5j))

1
0

In [24]:
# Create a tuple with only one element,print tuple and type
t=("avya",)
print(t)
print(type(t))

('avya',)
<class 'tuple'>

In [33]:
# Remove elements from tuple 
# You can go for converting tuple to list for deletion
print(t)

('avya',)

In [34]:
# Direct deletion of elements not possible
del t

In [35]:
# How to join two tuples
t4=(4,5,6)
print(t4)
t5=("a","b","c")
print(t5)
t6=t4+t5
print(t6)
print(type(t6))

(4, 5, 6)
('a', 'b', 'c')
(4, 5, 6, 'a', 'b', 'c')
<class 'tuple'>

### Tuples canbe joined together but tuple and list can not be concanited

In [36]:
# How to create tuple with tuple constructor
tuple1=tuple((12,4.5))
print(tuple1)
print(type(tuple1))

(12, 4.5)
<class 'tuple'>

#### Tuple methods
-There are only two methods available for tuple
-1.Count
-2.index

In [39]:
t1=(2,3,55,66,2,5,2.3)

In [41]:
# Count method
print("count of 2 is:",t1.count(2))
print("count of 25 is:",t1.count(25))

count of 2 is: 2
count of 25 is: 0

In [43]:
# Index Method
print("index of 2 is:",t1.index(2))
print("count of 55 is:",t1.index(55))

index of 2 is: 0
count of 55 is: 2

In [44]:
# Hoew to delete entire tuple
del t1

In [45]:
print(t1)

NameError: name 't1' is not defined

In [ ]:
t1=(1,2,3,4,8)

In [59]:
length=len(t1)

In [60]:
i=1
while i in t1:
    print(i)
    i=i+1

1
2
3
4

# Sets in Python

 - set is unordered
 - set is unindexed
 - set is mutable for only few operations
 - set allows different type of elements
 - duplicate elements are not allowed
 - {} is used to represent a set

In [68]:
# Create a set
set1={1,2,3,4,5.6,"str elment"}

In [69]:
print(set1)
print(type(set1))
print(len(set1))

{1, 2, 3, 4, 5.6, 'str elment'}
<class 'set'>
6

In [70]:
# print all set elements using loo
for i in set1:
    print(i,end=" ")

1 2 3 4 5.6 str elment

In [71]:
# Check elemennt exist in element or not
print(5.6 in set1)
print(565 in set1)

True
False

In [76]:
# Modify set elements
# Set does not allowed changes in element bu you can add new elements at last using add method
# Existing elements willl not be modified

In [75]:
set1[1]=9

TypeError: 'set' object does not support item assignment

In [77]:
set1

{1, 2, 3, 4, 5.6, 'str elment'}

In [78]:
set1.add("ajdkf")

In [79]:
set1

{1, 2, 3, 4, 5.6, 'ajdkf', 'str elment'}

In [80]:
# Hwo to add multiple elements in set
set1.update({"hii",2,3.5,2+7j,True})

In [84]:
print(set1)
print(len(set1))

{'ajdkf', 1, 2, 3, 4, 5.6, 'str elment', 3.5, 'hii', (2+7j)}
10

In [87]:
# remove set elements
    # using remove method
set1.remove("hii")

In [88]:
print(set1)

{'ajdkf', 1, 2, 3, 4, 5.6, 'str elment', 3.5, (2+7j)}

In [89]:
# Using discard method remove elements
set1.discard(3.5)

In [90]:
set1

{(2+7j), 1, 2, 3, 4, 5.6, 'ajdkf', 'str elment'}

In [95]:
# Remove by pop method
set1.pop()

3

In [96]:
set1

{(2+7j), 4, 5.6, 'str elment'}

In [97]:
set2=set1
set2
set2.add("xxx")

In [98]:
set2

{(2+7j), 4, 5.6, 'str elment', 'xxx'}

In [99]:
set1

{(2+7j), 4, 5.6, 'str elment', 'xxx'}

In [100]:
set3=set1.copy()

In [101]:
set3

{(2+7j), 4, 5.6, 'str elment', 'xxx'}

In [102]:
# How to clear a set
print(set3)
set3.clear()

{4, 5.6, 'str elment', (2+7j), 'xxx'}

In [104]:
set3

set()

## How to join two or more sets
- Union
- Intersection
- difference
- issubset
- issuperset
- isdisjoint
- symmetri_difference

In [110]:
setA={"apple","banana","mango"}
setB={"google","microsoft","apple"}

In [111]:
setA

{'apple', 'banana', 'mango'}

In [112]:
setB

{'apple', 'google', 'microsoft'}

In [113]:
# Union
unionset=setA.union(setB)
print(unionset)

{'google', 'microsoft', 'banana', 'mango', 'apple'}

In [114]:
# Intersection
intersectionset=setA.intersection(setB)
print(intersectionset)

{'apple'}

In [116]:
# Difference
differenceset=setA.difference(setB)
print(differenceset)

{'banana', 'mango'}

In [117]:
# Symmetric difference
symmetricdifferanceset=setA.symmetric_difference(setB)
print(symmetricdifferanceset)

{'google', 'banana', 'microsoft', 'mango'}

In [121]:
setC={"coa","os","ds","java","python","ml","c"}
setD={"c","python","java"}
print(setC)
print(setD)

{'os', 'ds', 'ml', 'c', 'java', 'python', 'coa'}
{'c', 'python', 'java'}

In [122]:
# is subset
print(setD.issubset(setC))

True

In [123]:
# superset
print(setD.issuperset(setC))

print(setC.issuperset(setD))

False
True

In [124]:
# is disjoint
print(setA.isdisjoint(setC))
print(setA.isdisjoint(setB))

True
False

# Dictionary

- dictionary is unordered
- it is changeble
- {} is used to create dictionaries
- element will be in form of "key value"pair

In [125]:
# Create a dictionary

In [126]:
vehical_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000
}

In [127]:
# print dictionay
print(vehical_dict)

{'brand': 'BMW', 'model': '720d', 'year': 2010, 'price': 5400000}

In [130]:
# Access elements dictionaries
print(vehical_dict["brand"])
print(vehical_dict["model"])
print(vehical_dict["year"])
print(vehical_dict["price"])

BMW
720d
2010
5400000

In [132]:
# Display values of dictionary using get()method
print(vehical_dict.get("model"))
print(vehical_dict.get("price"))

720d
5400000

In [134]:
# Change year to 2018 feom 2010
vehical_dict["year"]=2018

In [135]:
vehical_dict

{'brand': 'BMW', 'model': '720d', 'year': 2018, 'price': 5400000}

In [136]:
# print dictionary using loops
# print only keys
for i in vehical_dict:
    print(i)

brand
model
year
price

In [141]:
# print only values
for i in vehical_dict.values():
    print(i)

BMW
720d
2018
5400000

In [143]:
# print both keys and values using loop
for i,j in vehical_dict.items():
    print(i,j)

brand BMW
model 720d
year 2018
price 5400000

In [146]:
# length of dictionary
print(len(vehical_dict))

4

In [148]:
# check prise is present in dic or not
print("price" in vehical_dict)
print("pricdgfge" in vehical_dict)

True
False

In [149]:
print(2018 in vehical_dict.values())

True

In [150]:
# How to add new item into dictinonaru
vehical_dict["owner"]="Avishkar"

In [151]:
print(vehical_dict)

{'brand': 'BMW', 'model': '720d', 'year': 2018, 'price': 5400000, 'owner': 'Avishkar'}

In [152]:
# Remove items from dictionary
vehical_dict.pop('year')

2018

In [153]:
print(vehical_dict)

{'brand': 'BMW', 'model': '720d', 'price': 5400000, 'owner': 'Avishkar'}

In [154]:
# Remove using del keyword
del vehical_dict["price"]

In [155]:
print(vehical_dict)

{'brand': 'BMW', 'model': '720d', 'owner': 'Avishkar'}

In [156]:
vehical=vehical_dict
del vehical_dict

In [157]:
print(vehical_dict)

NameError: name 'vehical_dict' is not defined

In [158]:
print(vehical)

{'brand': 'BMW', 'model': '720d', 'owner': 'Avishkar'}

In [160]:
# Clear dictionary
temp_dict=vehical.copy()
temp_dict.clear()

In [161]:
temp_dict

{}

In [162]:
vehical

{'brand': 'BMW', 'model': '720d', 'owner': 'Avishkar'}

In [163]:
# Make copy of dictionary using dict() function
new_dict=dict(vehical)
print(new_dict)

{'brand': 'BMW', 'model': '720d', 'owner': 'Avishkar'}

In [166]:
# How to create new dictionary
# Create 4 dictionaries for your mobile,TV,vehical,laptop 
# with four parameters each merge these 4 subd_dict into only called my_dict
mobile_dict={
    "name":"Redmi",
    "internal_storage":64,
    "RAM":"4_GB",
    "colour":"red"
}
TV_dict={
    "brand":"sansui",
    "model":456,
    "year":2019,
    "price":50000
}
vehical_dict={
    "brand":"BMW",
    "model":"720d",
    "year":2010,
    "price":5400000
}
laptop_dict={
    "brand":"dell",
    "model":22222,
    "price":100000,
    "ram":"4GB"
}
print(mobile_dict)
print(TV_dict)
print(vehical_dict)
print(laptop_dict)

{'name': 'Redmi', 'internal_storage': 64, 'RAM': '4_GB', 'colour': 'red'}
{'brand': 'sansui', 'model': 456, 'year': 2019, 'price': 50000}
{'brand': 'BMW', 'model': '720d', 'year': 2010, 'price': 5400000}
{'brand': 'dell', 'model': 22222, 'price': 100000, 'ram': '4GB'}

In [176]:
my_own_items_dict={
    'm':mobile_dict,
    't':TV_dict,
    'v':vehical_dict,
    'l':laptop_dict
}

In [177]:
print(my_own_items_dict)

{'m': {'name': 'Redmi', 'internal_storage': 64, 'RAM': '4_GB', 'colour': 'red'}, 't': {'brand': 'sansui', 'model': 456, 'year': 2019, 'price': 50000}, 'v': {'brand': 'BMW', 'model': '720d', 'year': 2010, 'price': 5400000}, 'l': {'brand': 'dell', 'model': 22222, 'price': 100000, 'ram': '4GB'}}

In [178]:
# Another way to create dictionary using constructor
new_dict=dict(name="yo",AA4=2525)
print(new_dict)

{'name': 'yo', 'AA4': 2525}

In [179]:
del new_dict