### To connect Mysql with python driver is needed that driver name is mysql-connector

In [ ]:
# Install mysql driver -> Mysql connector

In [1]:
pip install mysql-connector

Collecting mysql-connector
  Downloading https://files.pythonhosted.org/packages/28/04/e40098f3730e75bbe36a338926f566ea803550a34fb50535499f4fc4787a/mysql-connector-2.2.9.tar.gz (11.9MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp37-cp37m-win_amd64.whl size=247951 sha256=9edac961aa1c8c644c1a0a744e36dca2840505618de8f8f8c69d6ee898efdf1a
  Stored in directory: C:\Users\Avya\AppData\Local\pip\Cache\wheels\8c\83\a1\f8b6d4bb1bd6208bbde1608bbfa7557504bed9eaf2ecf8c175
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Test it is install or not
import mysql.connector

In [11]:
# Create connection

mydb=mysql.connector.connect(
host="localhost",
user="root",
passwd="",
)

In [12]:
print(mydb)

<mysql.connector.connection.MySQLConnection object at 0x000002C804F7B788>

In [13]:
# First create cursor to hold data execute query
mycursor = mydb.cursor()
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('information_schema',)
('mysql',)
('performance_schema',)
('test',)

In [14]:
# Create Database named empDB
mycursor.execute("create DATABASE empDB")

In [16]:
# Show all databases 
mycursor.execute("SHOW DATABASES")
for x in mycursor:
    print(x)

('empdb',)
('information_schema',)
('mysql',)
('performance_schema',)
('test',)

In [31]:
# Create connection for particualr database

mydb1=mysql.connector.connect(
host="localhost",
user="root",
passwd="",
database="empdb"
)

In [32]:
mycursor1=mydb1.cursor()

In [33]:
# SHow all table in empdb database;
mycursor1.execute("show tables")
for x in mycursor1:
    print(x)

('emptable',)

In [21]:
# Create table emptable with three column empID,empName,empAge
mycursor1.execute("create table emptable(empID int PRIMARY KEY,empName varchar(20),empAge int)")

In [34]:
# See the data from table
mycursor1.execute("select * from emptable")
result=mycursor1.fetchall()
for x in result:
    print(x)

In [36]:
# How to insert data into table
query =  "Insert Into emptable Values (101,'yogesh',22)"
mycursor1.execute(query)
mydb.commit()

In [37]:
# See the data from table
mycursor1.execute("select * from emptable")
result=mycursor1.fetchall()
for x in result:
    print(x)

(102, 'avishkar', 22)
(101, 'yogesh', 22)

In [38]:
# How to insert multiple record

query1 =  "Insert Into emptable Values (103,'yogesh',22)"
query2 =  "Insert Into emptable Values (104,'yosh',22)"
query3 =  "Insert Into emptable Values (105,'yoge',22)"
query4 =  "Insert Into emptable Values (106,'yosh',22)"
query5 =  "Insert Into emptable Values (107,'gesh',22)"
query6 =  "Insert Into emptable Values (108,'yogh',22)"
query7 =  "Insert Into emptable Values (109,'esh',22)"
mycursor1.execute(query1)
mycursor1.execute(query2)
mycursor1.execute(query3)
mycursor1.execute(query4)
mycursor1.execute(query5)
mycursor1.execute(query6)
mycursor1.execute(query7)
mydb.commit()

In [39]:
mycursor1.execute("select * from emptable")
result=mycursor1.fetchall()
for x in result:
    print(x)

(102, 'avishkar', 22)
(101, 'yogesh', 22)
(103, 'yogesh', 22)
(104, 'yosh', 22)
(105, 'yoge', 22)
(106, 'yosh', 22)
(107, 'gesh', 22)
(108, 'yogh', 22)
(109, 'esh', 22)

In [40]:
# Delete record from emptable

mycursor1.execute("select * from emptable")
result=mycursor1.fetchall()
for x in result:
    print(x)

(102, 'avishkar', 22)
(101, 'yogesh', 22)
(103, 'yogesh', 22)
(104, 'yosh', 22)
(105, 'yoge', 22)
(106, 'yosh', 22)
(107, 'gesh', 22)
(108, 'yogh', 22)
(109, 'esh', 22)